{
  "plugins": [
    "transform-object-rest-spread"
  ],
  "env": {
    "umd": {
      "presets": [
        ["es2015", { "modules": false, "loose": true }]
      ],
      "plugins": [
        "transform-runtime"
      ]
    },
    "commonjs": {
      "presets": [
        ["es2015", { "modules": "commonjs", "loose": true }]
      ]
    },
    "es": {
      "presets": [
        ["es2015", { "modules": false, "loose": true }]
      ]
    }
  }
}